beautifulsoup4==4.12.3
faiss==1.7.4
Flask==3.0.2
gunicorn==21.2.0
markdown2==2.4.12
numpy
openai==1.11.0
pandas
pydantic==2.6.0
pydantic_core==2.16.1
python-dotenv==1.0.1
requests==2.31.0
torch==2.2.0
tqdm==4.66.1
transformers==4.37.2
